@media only screen and (min-width: 200px) and (max-width: 375px) {
  .Menu {
    position: absolute;
    align-items: center;
    top: 5vh;
    left: 5vw;
    z-index: 2;
  }

  .MenuIcon {
    padding-left: 5vw;
  }

  .carousel-control-prev-icon {
    background-color:black;
  }
  
  .carousel-control-next-icon {
    background-color:black
  }
}

@media only screen and (min-width: 376px) {
  .Menu {
    position: absolute;
    top: 5vh;
    left: 7vw;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    align-items: center;
    text-align: center;
    text-transform: lowercase;
  }
  
  .MenuLink {
    padding: 10px;
    text-decoration: none;
    color: white;
  }

  .carousel-control-prev-icon {
    background-color:black;
  }
  
  .carousel-control-next-icon {
    background-color:black
  }

  .SliderContainer {
    position: relative;
    padding-left: 0%;
    margin-left: 0%;
  }

}



