@media only screen and (min-width: 200px) and (max-width: 375px) {
  .Menu {
    position: absolute;
    align-items: center;
    top: 5vh;
    /* left: 5vw; */
    z-index: 2;
  }

  .MenuIcon {
    padding-left: 5vw;
  }

  .Logo {
    padding-left: 30vw;
  }

  div.hidden {
    visibility: hidden;
  }
  div.visible {
    visibility: visible;
    position: fixed;
    top: 0%;
    left: -18px;
    right: -250px;
    background-color: hsl(0, 0%, 100%);
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .CloseIcon {
    padding-left: 10vw;
  }

  .LinkContainer {
    display: inline;
    padding-left: 15vw;
  }

  .MenuLink {
    padding: 10px;
    text-decoration: none;
    color: hsl(0, 0%, 0%);
    font-weight: 600;
    font-family: 'League Spartan', sans-serif;
    text-transform: lowercase;
  }

  .SliderContainer {
    position: relative;
    padding-left: 0%;
    padding-right: 0%;
  }

  .CardContainer {
    padding: 15%;
  }

  .SliderLink {
    font-weight: 500;
    font-family: 'League Spartan', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1vw;
    text-decoration: none;
    color: black;
  }

  .carousel-control-prev-icon {
    background-color:black;
  }
  
  .carousel-control-next-icon {
    background-color:black
  }

  .carousel-control-prev {
    opacity: 1;
  }

  .AngleLeft {
    position: absolute;
    top: 36.6vh;
    left: 51.8vw;
    background-color:black;
    padding: 7.4%;
    border-color: black;
    border-style: solid;
    border-width: 20px 33px;
  }

  .AngleLeft:hover {
    background-color:gray;
    border-color: gray;
  }

  .carousel-control-next {
    opacity: 1;
  }

  .AngleRight{
    position: absolute;
    top: 36.6vh;
    right: 0%;
    background-color:black;
    padding: 7.4%;
    border-color: black;
    border-style: solid;
    border-width: 20px 33px;
  }

  .AngleRight:hover {
    background-color:gray;
    border-color: gray;
  }

  .AboutContainer {
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (min-width: 376px) {
  .Menu {
    position: absolute;
    top: 5vh;
    left: 7vw;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    align-items: center;
    text-align: center;
    text-transform: lowercase;
  }
  
  .MenuLink {
    padding: 10px;
    text-decoration: none;
    color: white;
  }

  .carousel-control-prev {
    opacity: 1;
  }

  .AngleLeft {
    position: relative;
    top: 31.1vh;
    left: 52.9vw;
    background-color:black;
    padding: 7.4%;
    border-color: black;
    border-style: solid;
    border-width: 20px 33px;
  }

  .AngleLeft:hover {
    background-color:gray;
    border-color: gray;
  }

  .carousel-control-next {
    opacity: 1;
  }

  .AngleRight{
    position: relative;
    top: 31.1vh;
    right: 23.9vw;
    background-color:black;
    padding: 7.4%;
    border-color: black;
    border-style: solid;
    border-width: 20px 33px;
  }

  .AngleRight:hover {
    background-color:gray;
    border-color: gray;
  }

  .SliderContainer {
    position: relative;
    padding-left: 0%;
  }

  .RemoveRightPadding {
    padding-right: 0%;
  }

  .RemoveLeftPadding {
    padding-left: 0%;
  }

  .CardContainer {
    padding: 15%;
  }

  .SliderLink {
    font-weight: 500;
    font-family: 'League Spartan', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1vw;
    text-decoration: none;
    color: black;
  }

  .MainContainer {
    padding-left: 0%;
    padding-right: 0%;
  } 

  .AboutContainer {
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }

}



